html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("/images/background.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

.container {
  flex: 1;
  margin-bottom: 40px;
}

.post {
  font-size: 16px;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

footer {
  font-size: 12px;
}

code {
  font-family: "JetBrainsMono-Regular";
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("https://mcenahle.com/fonts/JetBrainsMono-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
  color: #337ab7;
}

.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #337ab7;
  color: white;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #337ab7;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #337ab7;
    color: white;
  }
}

a:hover,
a:focus {
  text-decoration: none;
}

.page-header {
  margin-top: 0;
}
